<div class="test-container">
  <div class="question-card" *ngFor="let question of questions; let i = index">
    <h3>{{ i + 1 }}. {{ question.question }}</h3>

    <div class="options">
      <mat-checkbox
        *ngFor="let option of question.options"
        [value]="option"
        [name]="'question' + i"
        (change)="onSelectOption(i, option, $event)"
        [checked]="question.selectedAnswers.includes(option)"
      >
        {{ option }}
      </mat-checkbox>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="submitTest()">Enviar Test</button>

  <div *ngIf="showResults" class="results">
    <h3>Resultados del Test:</h3>
    <ul>
      <li>{{ results }}</li>  <!-- Aquí se mostrará las preguntas incorrectas -->
    </ul>
  </div>
  
  
</div>
